<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- 
            Defines the CRM property which is used as unique key when get the contacts from data source.
            This means that if there are a few contacts with the same value in unique key property, only the first one will be retrieved.
         -->
      <setting name="Crm.UniqueKeyProperty" value="emailaddress1" />

      <!--  ROLE CACHE SIZE
            Determines the size of the role cache of a CRM security provider.
            Specify the value in bytes or append the value with KB, MB or GB.
         -->
      <setting name="Crm.Caching.RoleCacheSize" value="2MB" />

      <!--  ROLE CACHE LIFETIME
            The lifetime of role entries added to the cache.
         -->
      <setting name="Crm.Caching.RoleCacheLifetime" value="00:02:00" />

      <!--  USER CACHE SIZE
            Determines the size of the user cache of a CRM security provider.
            Specify the value in bytes or append the value with KB, MB or GB.
         -->
      <setting name="Crm.Caching.UserCacheSize" value="2MB" />

      <!--  USER CACHE LIFETIME
            The lifetime of user entries added to the cache.
         -->
      <setting name="Crm.Caching.UserCacheLifetime" value="00:02:00" />

      <!--  MEMBER OF CACHE SIZE
            Determines the size of the member of cache of a CRM security provider.
            Specify the value in bytes or append the value with KB, MB or GB.
         -->
      <setting name="Crm.Caching.MemberOfCacheSize" value="2MB" />

      <!--  MEMBERS CACHE SIZE
            Determines the size of the members cache of a CRM security provider.
            Specify the value in bytes or append the value with KB, MB or GB.
         -->
      <setting name="Crm.Caching.MembersCacheSize" value="2MB" />

      <!--  METADATA CACHE SIZE
            Determines the size of the metadata cache of a CRM security provider.
            Specify the value in bytes or append the value with KB, MB or GB.
         -->
      <setting name="Crm.Caching.MetadataCacheSize" value="2MB" />

      <!--  CRM ACCESS PROFILING
            Turns on/off CRM access profiling.
         -->
      <setting name="Crm.CrmAccessProfiling" value="false" />

      <!--  LOGGING LEVEL
            Determines how much information will be sent to log file during the CRM requests.
            Valid values are None, Error, Warning, Info, Details.
         -->
      <setting name="Crm.LoggingLevel" value="Warning" />

      <!--  CONNECTION STRING NAME
            The name of CRM connection string property defined in ConnectionStrings.config .
         -->
      <setting name="Crm.ConnectionStringName" value="CRMConnString" />
    </settings>
  </sitecore>
</configuration>