<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CRMSecurityProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CRMSecurityProvider.Properties.Settings>
            <setting name="CRMSecurityProvider_crm3_webservice_CrmService" serializeAs="String">
                <value>http://crm:5555/mscrmservices/2006/crmservice.asmx</value>
            </setting>
            <setting name="CRMSecurityProvider_crm3_metadataservice_MetadataService" serializeAs="String">
                <value>http://crm:5555/mscrmservices/2006/metadataservice.asmx</value>
            </setting>
            <setting name="CRMSecurityProvider_crm4_webservice_CrmService" serializeAs="String">
                <value>http://crm.remote:5555/mscrmservices/2007/crmservice.asmx</value>
            </setting>
            <setting name="CRMSecurityProvider_crm4_metadataservice_MetadataService" serializeAs="String">
                <value>http://crm.remote:5555/mscrmservices/2007/metadataservice.asmx</value>
            </setting>
            <setting name="CRMSecurityProvider_crm4_discoveryservice_CrmDiscoveryService" serializeAs="String">
                <value>http://crm.remote:5555/mscrmservices/2007/AD/crmdiscoveryservice.asmx</value>
            </setting>
        </CRMSecurityProvider.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
